<nav class="bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
            <!-- Left section: Brand name and buttons -->
            <div class="flex items-center">
                <!-- Brand Name: Clickable link back to home -->
                <%= link_to "MaxCRM", root_path, class: "text-2xl font-bold text-blue-800" %>
                <!-- Navigation Buttons -->
                <div class="ml-4 flex items-center">
                    <%= link_to "Create a Lead", users_register_path, class: "px-3 py-2 bg-blue-500 text-grey font-light rounded hover:underline hover:decoration-blue-600" %>
                    <span>&emsp;</span>
                    <%= link_to "Consult Leads", dashboard_path, class: "px-3 py-2 bg-green-500 text-grey font-light rounded hover:underline hover:decoration-blue-600" %>
                </div>
            </div>

            <!-- Right section: Profile image -->
            <div class="flex items-center">
                <%= image_tag "profile.jpg", class: "h-8 w-8 rounded-full", alt: "Profile" %>
            </div>
        </div>
    </div>
</nav>